header {
    margin-top: 1em;
}

header,
nav ul {
    display: flex;
    flex-direction: column;
}

nav ul a {
    display: block;
    color: #797e83;
    font-size: 1.125em;
    font-weight: 300;
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

nav ul a:hover {
    color: #0b0b0b;
    border-bottom: 1px solid #e0772d;
}